<!DOCTYPE html>
<html>
  <head>
    <title>Web Interpreter</title>
    <meta name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- 1. Load platform support before any code that touches the DOM. -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/shared.css' />
    <link rel="stylesheet" href='/stylesheets/custom.css' />
    <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/Data.js"></script>
    <script src="javascripts/Canvas.js"></script>
    <script src="javascripts/Modifiers.js"></script>
    <script src="javascripts/Variables.js"></script>
    <script src="javascripts/Page_Data.js"></script>
    <script>
      var i_canvas = new Canvas();
      var i_page_data = new Page_Data();
      var i_data = new Data();
      var i_modifiers = new Modifiers();
      var i_variables = new Variables();
      var load_app = document.createElement("app-container");
      load_app.setAttribute("url", "eeb40e71-8284-452e-8e11-98806fde1ed5/pages/b718cb0a-b289-4019-a2e0-94bd8ae26f72");
    </script>
    <!-- 2. Load the component using an HTML Import -->
    <link rel="import" href="components/app-container.html">
  </head>
  <body unresolved>
    <%- include templates %>
    <script>
      document.body.appendChild(load_app);
    </script>
  </body>
</html>
