
  <div style="display: none;">  <!-- canvas -->
  <div class="template_canvas_layout canvas_layout canvas_element">
    <div class="layout_table">
      <div class="layout_cell align_cell"></div>
    </div>
  </div>
  <div class="template_canvas_button canvas_element">
    <div class="element_table">
      <div class="element_cell align_cell">
        <div class="element_content"></div>
      </div>
    </div>
  </div>
  <img class="template_canvas_image canvas_element" />
  <input class="template_canvas_input_text canvas_element" type="text" />
  <input class="template_canvas_input_radio canvas_element" type="radio" />
  <input class="template_canvas_input_checkbox canvas_element" type="checkbox" />
  <select class="template_canvas_input_dropdown canvas_element"></select>
  <option class="template_canvas_input_option"></option>
</div>
